    <div class='sidebar'>
        <ul>
            <li><a title="Overview" class='sidebar-link' href='/weeks.html'><img src="/calendar.png"></img> Calendar</a></li>
            <li><a title="Syllabus" class='sidebar-link' href='/syllabus.html'><img src="/syllabus.png"></img> Syllabus</a></li>
            {% for lecture in site.lectures %}
            <li><a title="{{ lecture.index }}" class='sidebar-link' href="{% link {{ lecture.relative_path }} %}"><span class="numbers">{{ lecture.index }}</span>Lec {{ lecture.index}}</a></li>
            {% endfor %}
            <li><a title="Credits" class='sidebar-link' href='/credits.html'><img width="100%" src="/copyright.png"></img>Credits</a></li>
        </ul>
    </div>